app_mode=prod

# MQTT Broker
broker=192.168.1.2
port=1883
user=mqtt
password=secretpw

# Alpha Vantage API Key - https://www.alphavantage.co/support/#api-key
api_key='<my_alpha_vantag_key>'

# Comma delimited list of stocks you want to monitor
stocks=GOOG,AMZN,APPL,FB

# Interval, in seconds, you want to run the updates. 3600 = 1 hour. If you set inteval to 0 the script will exit after running once.  
interval=3600 

# Splunk Server:
splunk_host=192.168.1.20
# Splunk HEC Port - Default is 8088:
splunk_hec_port=8088
# Splunk Hec SSL:
splunk_hec_ssl=False
# Splunk HEC Token:
splunk_hec_key=